.toggle-buttons--content{
    top: 68px;
    margin-top: 0px;
}
.toggle-buttons--center-map {
    right: 72px;
}
#jsLnK{
    display: block;
    position: absolute;
    width: 60px;
    top: 356px;
    bottom: 64px;
    right: 2px;
    margin: 2px auto;
    padding: 2px;
    border: solid black 2px;
    z-index: 9000;
    background-color: white;
    overflow: scroll;
    font-size: 10px;
}
#jsLnK a{
    cursor: pointer;
    display: block;
    height: 32px;
}

#jsLnK div{
    float:left;
}
#jsLnK a:hover{
    background-color: #23b739;
}

.Stopped{
    height: 13px;
    width: 13px;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 4px -2px 9px;
    font-size: 12px;
    background-color: #b92628;
}
.Running{
    height: 13px;
    width: 13px;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 4px -2px 9px;
    font-size: 12px;
    background-color: #23b739;
}

.miniMapContainer {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 256px;
    height: 256px;
    z-index: 100;
    display: none;
}

#incrementalNumber{
    position: absolute;
    width: 100px;
    bottom: 2px;
    right:2px;
    margin: 2px auto;
    padding: 2px;
    border: solid black 2px;
    z-index: 9000;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 18px 0px;
}