#jsLnK{
    background-color: #55765d;
    z-index: 9000;
}
#jsLnK div{
    border: solid gray 1px;
    text-align: right;
    padding: 4px;
    margin: 2px;
}
#jsLnK a{
    cursor: pointer;
}

#jsLnK a:hover{
    background-color: #23b739;
}

.Stopped{
    height: 13px;
    width: 13px;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 4px -2px 9px;
    font-size: 12px;
    background-color: #b92628;
}
.Running{
    height: 13px;
    width: 13px;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 4px -2px 9px;
    font-size: 12px;
    background-color: #23b739;
}

.miniMapContainer {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 256px;
    height: 256px;
    z-index: 100;
    display: none;
}

#incrementalNumber{
    position: absolute;
    width: 100px;
    top: 0px;
    left: 40px;
    margin: 2px auto;
    padding: 2px;
    border: solid black 2px;
    z-index: 9000;
    background-color: white;
}